<h1>My User Account</h1>

<dl>
  <dt>E-MAIL:</dt>
  <dd><%= @user["email"] %></dd>
  <dt>Username:</dt>
  <dd><%= @user["username"] %></dd>
  <dd>Congratulations! Your account and password has been created, <%= @user["username"] %>.</dd>
  <!--<dt>PASSWORD:</dt>
  <dd><%= @user["password"] %></dd> -->
</dl>