<h1>Places</h1>

<p>
  <a class="btn btn-secondary" href="/places/new">New Place</a>
</p>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>


